<form id="product-form" action="#" class="d-flex align-items-center flex-column p-3">
  <h3 class="mb-4">Editando produto...</h3>
  <input id="in-name" class="w-50 ps-2 border" value="<%= product.name %>"
  type="text" placeholder="Nome do produto" autocomplete="off">
  <input id="in-price" class="w-50 ps-2 mt-2 border" 
  value="<%= product.price %>"
  type="number" placeholder="Preço à pagar" step=".01" autocomplete="off">
  <input id="in-manufacturer" class="w-50 ps-2 mt-2 border" value="<%= product.manufacturer %>"
  type="text" placeholder="Fabricante do produto" autocomplete="off">
  <div class="d-flex justify-content-between w-50 mt-3">
    <button id="btn-return" class="btn btn-primary" type="button"><span class="fw-bold"><</span> Voltar</button>
    <button class="btn btn-primary" type="submit">Salvar</button>
  </div>
  <div id="stats-view" class="d-none">Eae</div>
</form>
<script src="/js/edit.js"></script>